<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">CRON Details (automatic reindex)</h5>
      <div class="card-body">
        <table class="table">
          <tr>
            <th>Name:</th>
            <td>{{ cron.cron_name }}</td>
          </tr>
          <tr>
            <th>Enabled:</th>
            <td>{{ cron.enabled }}</td>
          </tr>          
          {% if cron.enabled == "enabled" %}
            <tr>
                <th>Pattern/Expression:</th>
                <td>{% if cron.schedule %}{{ cron.schedule.pattern }} ({{ cron.schedule.expression }}){% else %}N/A{% endif %}</td>
            </tr>          
            <tr>
                <th>Last Started:</th>
                <td>{% if cron.last_start_time | length > 0 %}{{ cron.last_start_time }}{% else %}N/A{% endif %}</td>
            </tr>          
            <tr>
                <th>Next Run Time:</th>
                <td>{% if cron.schedule %}{{ cron.schedule.next_run_time }}{% else %}N/A{% endif %}</td>
            </tr>    
          {% endif %}          
        </table>
      </div>
    </div>
  </div>      
</div>