
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">Engine Statistics</h5>
      <div class="card-body">
        <table class="table">
          <tbody>          
          {% for prop, value in stats %}
            <tr>
              <th width="50">{{ prop }}</th>
              <td>
              {% if value is iterable %}
              <div id="{{prop}}-accordion">
                <div class="card">
                  <a class="btn text-left" data-toggle="collapse" data-target="#{{prop}}-collapse" aria-expanded="true" aria-controls="{{prop}}-collapse">
                        ...
                      </a>
                  <div id="{{prop}}-collapse" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#{{prop}}-accordion">
                    <div class="card-body">
                      <code><pre>{{ value | json_encode(constant('JSON_PRETTY_PRINT')) | escape }}</pre></code>
                    </div>
                  </div>
                </div>
              </div>
              {% else %}{{ value }}{% endif %}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>