{% extends "base.twig" %}

{% block body %}
{% include 'settings.twig' %}
<br/>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">Document Sources</h5>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th scope="col">Project</th>
              <th scope="col">Status</th>
              <th scope="col">Deny List</th>
              <th scope="col">Documents</th>
            </tr>
          </thead>
          <tbody>          
          {% for project in projects %}
            <tr>
              <th><a href="{{ constant('APP_PATH_WEBROOT') }}/index.php?pid={{ project.project_id }}" target="_new"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-window-sidebar" viewBox="0 0 16 16">
  <path d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
  <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v2H1V3a1 1 0 0 1 1-1h12zM1 13V6h4v8H2a1 1 0 0 1-1-1zm5 1V6h9v7a1 1 0 0 1-1 1H6z"/>
</svg></a></th>
              <th>{{ project.title }}</th>
              <td>
                  {% if project.enabled %}
                    <span class="badge badge-success badge-pill">enabled</span>
                  {% else %}
                    <span class="badge badge-warning badge-pill">disabled</span>
                  {% endif %}              
              </td>
              <td>{{ project.form_denylist | join(', ') }}</td>
              <td>{% if project.enabled %}{{ project.documents | length }}{% else %}(N/A){% endif %}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary" href="{{ paths.reindex }}" role="button" style="color: white">Reindex All</a>
      </div>
    </div>
  </div>
</div>
<br/>
{% include 'statistics.twig' %}
</br>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">Configuration</h5>
      <div class="card-body">
        <table class="table">
          <tbody>          
            <tr>
              <th>Authenticated Search</th>
              <td>
                  <p>{{ paths.search|split("?")|join("\n")|u.wordwrap(25, "\n", true) }}</p>
                  <p>* The URL above may be used to create a <i>Custom Application Link</i> at the system or project level.</p>
              </td>
              <td>
                    <button type="button" class="btn btn-outline-secondary btn-sm clipboard" 
                                data-clipboard-text="{{paths.search}}">Copy</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}