
<div id="{{ prefix }}-alert" class="bs-callout" style="display:none">
  <span id="{{ prefix }}-alert-text">Message Placeholder</span>
  <button type="button" class="close" onclick="$('#{{ prefix }}-alert').hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#{{ prefix }}-alert').on('message', function(event, data) {
      $('#{{ prefix }}-alert-text').text(data.text);
      $(this).addClass('bs-callout-' + data.style).show();

      if (data.style === "success"){
        setTimeout(() => {
          $('#{{ prefix }}-alert').hide();
        }, 1500);
      }
  });
});
</script>