{% extends "base.twig" %}

{% block body %}

<div class="row">
  <div class="col-md-12">

    <div class="card">
      <h5 class="card-header">Engine Settings</h5>
      <div class="card-body">
        <table class="table">
          <tr>
            <th>Provider:</th>
            <td>{{ engine.providerName }}</td>
          </tr>
          {% for key, setting in engine.providerSettings %}
            <tr>
              <th>{{ key }}:</th>
              <td>{{ setting }}</td>
            </tr>   
          {% endfor %}
        </table>
      </div>
    </div>
  </div>      
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">Document Sources</h5>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Status</th>
              <th scope="col">Deny List</th>
              <th scope="col">Documents</th>
            </tr>
          </thead>
          <tbody>          
          {% for project in projects %}
            <tr>
              <th>{{ project.title }}</th>
              <td>
                  {% if project.enabled %}
                    <span class="badge badge-success badge-pill">enabled</span>
                  {% else %}
                    <span class="badge badge-warning badge-pill">disabled</span>
                  {% endif %}              
              </td>
              <td>{{ project.form_denylist | join(', ') }}</td>
              <td>{{ project.documents | length }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary" href="{{ paths.reindex }}" role="button" style="color: white">Reindex All</a>
      </div>
    </div>
  </div>
</div>
<br/>
{% include 'statistics.twig' %}
{# </br>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">Configuration</h5>
      <div class="card-body">
        <table class="table">
          <tbody>          
            <tr>
              <th>Authenticated Search</th>
              <td><a href="{{ paths.search }}">{{ paths.search }}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> #}

{% endblock %}